.logo {
  font-size: 50px;
	font-family: "Black Ops One", "Arial", sans-serif;
	text-align: center;
	color: #f4f5f6;
  text-shadow: 
    5px 5px #999999,
    -5px -5px #999999;
  cursor: default;
	user-select: none;
  &--big {
    font-size: 80px;
    text-shadow: 
      8px 8px #999999,
      -8px -8px #999999;
  }
}

.logo a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s;
  &:hover {
    color: #eff0f1;
    text-shadow: 
      3px 3px #000000,
      -3px -3px #000000;
  }
  &:active {
    color: #999999;
  }
}

.logo--big a {
  &:active {
    color: #fbfbfb;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    font-size: 60px;
    text-shadow: 
      6px 6px #999999,
      -6px -6px #999999;
    &--big {
      font-size: 140px;
      text-shadow: 
        14px 14px #999999,
        -14px -14px #999999;
    }
  }

  .logo--big a {
    &:hover {
      text-shadow: 
        5px 5px #000000,
        -5px -5px #000000;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    &--big {
      font-size: 200px;
      text-shadow: 
        20px 20px #999999,
        -20px -20px #999999;
    }
  }

  .logo--big a {
    &:hover {
      text-shadow: 
        8px 8px #000000,
        -8px -8px #000000;
    }
  }
}