.main-nav__list {
	@include list-clean;
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  display: block;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
	text-decoration: none;
	color: inherit;
  border: 2px solid #000000;
  border-radius: 4px;
  &:hover {
    color: #fbfbfb;
    background-color: #999999;
    border-color: #999999;
  }
  &:active {
    opacity: 0.4;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    justify-content: space-around;
  }
  
  .main-nav__link {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 22px;
  }
}