.main-nav__list {
	@include list-clean;
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  display: block;
  font-size: 14px;
  line-height: 30px;
  font-family: $font-bold;
	text-decoration: none;
  text-transform: uppercase;
	color: #999999;
  &--current {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
  &:hover:not(&--current) {
    color: #000000;
  }
  &:active:not(&--current) {
    opacity: 0.5;
  }
  &--bordered {
    padding: 5px 14px;
    font-family: $font-main;
    color: #000000;
    background: linear-gradient(#f4f5f6, #e6e6e6);
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    &:hover:not(&--current) {
      background: #e6e6e6;
      border-color: #999999;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    justify-content: space-around;
  }

  .main-nav__item {
    &:not(&--no-margin):not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .main-nav__link {
    font-size: 16px;
    &--bordered {
      padding: 9px 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link {
    font-size: 18px;
    &--bordered {
      padding: 12px 24px;
    }
  }
}