.page {
	min-width: $mobile-width;
  min-height: 100vh;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
	background-color: #fbfbfb;
  &--flexible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page__projects {
  margin-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .page__projects {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page__projects {
    margin-bottom: 30px;
  }
}