.page {
	min-width: $mobile-width;
  height: 100vh;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
	background-color: #fbfbfb;
  &--flexible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}