.project {
	width: 280px;
  font-size: 14px;
  line-height: 22px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.4);
}

.project__img-container {
  position: relative;
  width: 280px;
  height: 180px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/desktop.svg") no-repeat 8px 142px/30px auto;
    pointer-events: none;
  }
  &--bg-multiple-devices {
    &::after {
      background: 
        url("../img/desktop.svg") no-repeat 8px 142px/30px auto,
        url("../img/tablet.svg") no-repeat 43px 144px/21px auto,
        url("../img/mobile.svg") no-repeat 69px 149px/13px auto;
    }
  }
}

.project__main-link {
  position: relative;
  display: block;
  text-decoration: none;
  &::after {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 14px;
    line-height: 180px;
    font-family: $font-bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(1, 1, 1, 0.6);
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &:active {
    &::after {
      line-height: 174px;
      text-decoration: underline;
      background-color: rgba(1, 1, 1, 0.8);
      border: 3px solid #ffffff;
    }
  }
}

.project__img-container img {
  @include image;
}

.project__info {
  padding: 16px;
}

.project__title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-bold;
}

.project__features {
  margin: 20px 0 25px 0;
  padding-left: 24px;
  list-style: square;
}

.project__source-link {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .project {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 16px;
    line-height: 26px;
  }

  .project__img-container {
    width: 300px;
    height: 200px;
    &::after {
      background: url("../img/desktop.svg") no-repeat 10px 154px/33px auto;
    }
    &--bg-multiple-devices {
      &::after {
        background: 
          url("../img/desktop.svg") no-repeat 10px 154px/33px auto,
          url("../img/tablet.svg") no-repeat 49px 156px/23px auto,
          url("../img/mobile.svg") no-repeat 78px 161px/15px auto;
      }
    }
  }

  .project__main-link {
    &::after {
      font-size: 16px;
      line-height: 200px;
    }
    &:active {
      &::after {
        line-height: 190px;
        border: 5px solid #ffffff;
      }
    }
  }

  .project__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 319px;
    padding: 20px 18px;
  }

  .project__title {
    min-height: 84px;
    font-size: 18px;
    line-height: 28px;
  }

  .project__features {
    margin: 23px 0 28px 0;
  }

  .project__source-link {
    margin: 0 auto;
  }
}