.projects__heading {
  margin: 0 0 22px 0;
	font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  font-family: $font-bold;
  text-align: center;
  background-image: linear-gradient(to right, transparent 0%, #ffffff 50%, transparent 100%);
}

.projects__item {
  margin: 0 auto 40px auto;
}

@media (min-width: $tablet-width) {
  .projects__heading {
    font-size: 24px;
  }

  .projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .projects__item {
    margin: 0 5px 40px 5px;
  }
}

@media (min-width: 800px) {
  .projects__item {
    margin: 0 10px 40px 10px;
  }
}

@media (min-width: $desktop-width) {
  .projects__container {
    justify-content: flex-start;
  }

  .projects__item {
    margin: 0 0 40px 0;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}